/*--------------------------------*- C++ -*----------------------------------*\
| =========                 |                                                 |
| \\      /  F ield         | OpenFOAM: The Open Source CFD Toolbox           |
|  \\    /   O peration     | Version:  1.7.1                                 |
|   \\  /    A nd           | Web:      http://www.OpenFOAM.com               |
|    \\/     M anipulation  |                                                 |
\*---------------------------------------------------------------------------*/
$$ X0 = TKE

flowVelocity         (0 0 0);
pressure             0;
turbulentKE          $X0$;
turbulentEpsilon     0.001;

// ************************************************************************* //
