<html>
<head>
    <title>WindPyFoam</title>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
    <!-- TODO local cache -->
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script>

var updates_enabled = false;

function launch() {
    $.get("/launch", {}, function(result) {
        $("#status").append(result);
        updates_enabled = true;
        startUpdateStatus();
    });
}

function keydown(event) {
    if (event.which == 27) {
        updates_enabled = false;
    }
}

function startUpdateStatus() {
    $.getJSON("/status", {}, function(json) {
        if (!updates_enabled) {
            return;
        }
        $("#status").append(JSON.stringify(json));
        //var data = JSON.parse(json, function(k, v) {
        //    $("#status").append("<div>" + k + " " + v + "</div>");
        //});
        setTimeout(startUpdateStatus, 1000);
    })
}

$(document).ready(function () {
    $( "#tabs" ).tabs();
    $("#launch").click(function(event){
        launch();
        event.preventDefault();
    });
    $(document).keydown(keydown);
    $("#status").append("started");
})

</script>
</head>
<body>
    <p>

<div id="tabs">
    <ul>
        <li><a href="#tabs-input">Input</a></li>
        <li><a href="#tabs-windpyfoamdict">windPyFoamDict</a></li>
        <li><a href="#tabs-execute">Execute</a></li>
        <li><a href="#tabs-results">Results</a></li>
    </ul>
    <div id="tabs-input">
        <p>Input</p>
        currently hardcoded.
    </div>
    <div id="tabs-windpyfoamdict">
        <p>Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante, ut pharetra massa metus id nunc. Duis scelerisque molestie turpis. Sed fringilla, massa eget luctus malesuada, metus eros molestie lectus, ut tempus eros massa ut dolor. Aenean aliquet fringilla sem. Suspendisse sed ligula in ligula suscipit aliquam. Praesent in eros vestibulum mi adipiscing adipiscing. Morbi facilisis. Curabitur ornare consequat nunc. Aenean vel metus. Ut posuere viverra nulla. Aliquam erat volutpat. Pellentesque convallis. Maecenas feugiat, tellus pellentesque pretium posuere, felis lorem euismod felis, eu ornare leo nisi vel felis. Mauris consectetur tortor et purus.</p>
    </div>
    <div id="tabs-execute">
        <p><a id="launch" href="/launch"">click to launch simulation</a>
        </p>
    </div>
    <div id="tabs-results">
        Surprise!
    </div>
</div>
<div id="status">
</div>
<div id="help">
press escape to stop updates.
</div>
</body>
</html
