/*--------------------------------*- C++ -*----------------------------------*\
| =========                 |                                                 |
| \\      /  F ield         | OpenFOAM: The Open Source CFD Toolbox           |
|  \\    /   O peration     | Version:  2.1.0                                 |
|   \\  /    A nd           | Web:      www.OpenFOAM.org                      |
|    \\/     M anipulation  |                                                 |
\*---------------------------------------------------------------------------*/
FoamFile
{
    version         2.0;
    format          ascii;
    class           dictionary;
    object          blockMeshDict;
}
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * //
$$ x0 = X0
$$ x1 = X1
$$ x2 = X2
$$ x3 = X3
$$ x4 = Y0
$$ x5 = Y1	
$$ x6 = Y2
$$ x7 = Y3
$$ x8 = Z0
$$ x9 = n
$$ x10 = m
$$ x11 = q

convertToMeters 1;

vertices
(
    ( $x1$  $x5$   -450)
    ( $x2$  $x6$   -450)
    ( $x3$  $x7$   -450)
    ( $x0$  $x4$   -450)
    ( $x1$  $x5$   $x8$)
    ( $x2$  $x6$   $x8$)
    ( $x3$  $x7$   $x8$)
    ( $x0$  $x4$   $x8$)

);

blocks
(
    hex (0 1 2 3 4 5 6 7) ($x9$ $x10$ $x11$) simpleGrading (1 1 1)
);

edges
(
);

boundary
(
    outlet
    {
        type patch;
        faces
        (
            (2 6 5 1)
        );
    }
    sides
    {
        type patch;
        faces
        (
            (1 5 4 0)
            (3 7 6 2)
        );
    }
    inlet
    {
        type patch;
        faces
        (
            (0 4 7 3)
        );
    }
    ground
    {
        type wall;
        faces
        (
            (0 3 2 1)
        );
    }
    top
    {
        type patch;
        faces
        (
            (4 5 6 7)
        );
    }
);

mergePatchPairs
(
);


// ************************************************************************* //
